<!DOCTYPE html>
<html>
<head><meta charset="UTF-8" />
<title>websocket ruby test</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script> 
<script type="text/javascript" src="/index.js"></script>
</head>
<body>
</body>
</html>
